body {
    margin: 0;
}

.header {
    background-color: cornflowerblue;
    padding: 40px;
}

.main {
    background-color:rgb(220, 194, 161);
    padding: 40px;
}

.wrapper {
    max-width: 600px;
    margin: auto;
}